.engulf {
  background: url(https://img.freepik.com/free-photo/mesmerizing-view-fresh-green-fields-cloudy-sky_181624-49447.jpg?w=996&t=st=1706299542~exp=1706300142~hmac=0d496fe16e13a4d18fb8b39fb72f58ff136bacbc7563a1eab40096a7693f0554);
  font-family: "Anta", sans-serif;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
